/node_modules
/node_modules/*
npm-debug.log
config.js
settings.json
/data/addcom.txt
/data/autores.txt
/data/bannedrooms.txt
/data/botlog.txt
/data/commandban.txt
/data/emotecounter.txt
/data/emotemoderation.txt
/data/entries.txt
/data/ignorewcmsg.txt
/data/mail.txt
/data/mailbl.txt
/data/maillog.txt
/data/quotes.txt
/data/ranks.txt
/data/repeatperms.txt
/data/wcmsg.txt


.hg
.bzr
.svn